*.aux
*.log
*.nav
*.out
*.toc
*.snm
/.auctex-auto/
*.pygtex
/.DS_Store
*.vrb
/_minted-main/
/src/__pycache__/
/src/*.pdf
/scripts/__pycache__/
/scripts/*.svg
*.bbl
*.bcf
*.blg
/main.run.xml
/main.pdf
